<html>
<head>
    <title>Maharashtra Solar</title>
</head>
<body>
<div style="height: 850px;">
    <div id="reserveStacksDiv" style="width: 99%; height: 850px;float: left"></div>
</div>
<br style="clear: left;"/>

<div id="reserveInfoDiv1"></div>
<br>
<span>Schedules last fetched at <%= last_updated_at.toString() %></span>
<button onclick="updateDataNow()">Update Data Now</button>
<label><input id="togglePageRefreshBtn" type="checkbox" checked> Enable Auto Page Refresh for 2 minutes</label>
<script>
    var windSolarArray_ = <%- JSON.stringify(windSolarData)%>;
</script>
<script src="./libs/js/jquery.min.js"></script>
<script src="./libs/js/plotly.min.js"></script>
<script src="mh_solar.js"></script>
</body>
</html>
